*
# !automatic
# !automatic/**
!transmission
!transmission/settings.json
!alacritty
!alacritty/**
!appmenu
!appmenu/**
!dunst
!dunst/**
!emacs
!emacs/init.el
!emacs/init.el
!foot
!foot/**
!git
!git/**
!kitty
!kitty/**
!mako
!mako/**
!mpv
!mpv/**
mpv/watch_later
!nvim
!nvim/CoC.vim
!nvim/init.vim
!nvim/maps.vim
!nvim/histclear.sh
!nvim/coc-settings.json
!qt5ct
!qt5ct/**
!qutebrowser
!qutebrowser/get.sh
!qutebrowser/stow.sh
!qutebrowser/config.py
!sway
!sway/**
sway/scripts/brightness_value
!sxhkd
!sxhkd/**
!tmux
!tmux/**
!vifm
!vifm/**
vifm/vifminfo.json
!waybar
!waybar/**
!x
!x/**
!zsh
!zsh/**
!.gitignore
!Xresources
!kminesrc
!backgroundScriptSway
!backgroundScript
!rustfmt
!rustfmt/**
