*
!alacritty/**
!appmenu/**
!dunst/**
!emacs
!emacs/init.el
!emacs/init.el
!foot/**
!git/**
!kitty/**
!mako/**
!mpv/**
!nvim
!nvim/CoC.vim
!nvim/init.vim
!nvim/maps.vim
!nvim/histclear.sh
!nvim/coc-settings.json
!qt5ct/**
!qutebrowser
!qutebrowser/get.sh
!qutebrowser/stow.sh
!qutebrowser/config.py
!sway/**
!sxhkd/**
!tmux/**
!vifm/**
!waybar/**
!x/**
!zsh/**
!.gitignore
!Xresources
!kminesrc
!backgroundScriptSway
!backgroundScript
!rustfmt/**
