autostart/
bashtop/
cef_user_data/
coc/
Code - OSS/
dconf/
Dharkael/
discord/
game-jolt-client/
gconf/
GIMP/
hiro/
kdeglobals
kprivacyrc
menus/
mimeapps.list
neofetch/
obs-studio/
pulse/
QtProject.conf
qutebrowser/
retroarch/
rua/
soundkonverterrc
spacefm/
sweeperrc/
torbrowser/
unity3d/
user-dirs.dirs
user-dirs.locale
VirtualBox/
nvim/.netrwhist
nvim/.vim/
nvim/histfiles/
vifm/icons
